<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyWebSite</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" [matMenuTriggerFor]="menu">menu
    </mat-icon>
    <mat-menu #menu="matMenu">
      <a routerLink="/dashboard" ><button mat-menu-item>Dashboard</button></a>
      <a routerLink="/user" routerLinkActive="active"><button mat-menu-item>User</button></a>
      <a routerLink="/sidebar" routerLinkActive="active"><button mat-menu-item>Sidebar</button></a>
      <button mat-menu-item>Log Out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div style="text-align:center">
  
  <router-outlet></router-outlet>

</div>


